@(header: Html = Html(""))(content: Html)(footer: Html = Html(""))(implicit requestHeader: RequestHeader, messages: Messages, pageMeta: PageMeta, wja: WebJarAssets, session: Session)
<!DOCTYPE html>
<html lang="@messages.lang.code">
<head>
  <meta charset="UTF-8">
  @pageMeta.toHtml
  <link href="@routes.Assets.versioned("styles/global.min.css")" rel="stylesheet">

  @* VIA CDN *@
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  @header
</head>
<body>

  @partials.navigation.header()

  <div class="row">
    <div class="medium-12 columns main-container">
      @content
    </div>
  </div>

  @footer
</body>
</html>