@(header: Html = Html(""))(content: Html)(implicit requestHeader: RequestHeader, messages: Messages, pageMeta: PageMeta)
<!DOCTYPE html>
<html lang="@messages.lang.code">
<head>
  <meta charset="UTF-8">
  @pageMeta.toHtml
  <link href="@routes.Assets.versioned("styles/global.min.css")" rel="stylesheet">

  @* VIA CDN *@
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  @header
</head>
<body>

  @* TODO: Separate File *@
  <header>
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="menu">
          <li><a href="@routes.HomeController.index()">Home</a></li>
          <li><a href="@routes.PhoneBookController.index()">Phonebook</a></li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <li><input type="search" placeholder="Search"></li>
          <li><button type="button" class="button">Search</button></li>
        </ul>
      </div>
    </div>
  </header>

  <div class="row">
    <div class="medium-12 columns main-container">
      @content
    </div>
  </div>

</body>
</html>
