@()(implicit wja: WebJarAssets)

<h1>Basics</h1>
<table>
  <thead>
    <tr>
      <th>Example</th>
      <th>Link</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Todo</td>
      <td><a href="@routes.HomeController.todo()">Example</a></td>
    </tr>
    <tr>
      <td>Todo App</td>
      <td><a href="@routes.HomeController.todoApp()">Example</a></td>
    </tr>
    <tr>
      <td>Mixin</td>
      <td><a href="@routes.HomeController.mixin()">Example</a></td>
    </tr>
    <tr>
      <td>Routes</td>
      <td><a href="@routes.HomeController.routing()">Routes</a></td>
    </tr>
  </tbody>
</table>