
@(loginForm: Form[User], users: Seq[User] = List.empty[User])(implicit header: RequestHeader, messages: Messages, pm: PageMeta, wja: WebJarAssets, flash: Flash)
@import helper._
@helper.base {
  <link href="@routes.Assets.versioned("styles/global.css")" rel="stylesheet">
  <link href="@routes.Assets.versioned("styles/main.css")" rel="stylesheet">
  <link href="@routes.Assets.versioned("styles/main2.css")" rel="stylesheet">
} {

  <section>
    <ul>
      @for(user <- users) {
        <li>
          @user.username - @user.password
          <a href="@routes.HomeController.deleteUser(user.id.get)">delete</a>
          <a href="@routes.HomeController.showUpdate(user.id.get)">update</a>
        </li>
      }
    </ul>
  </section>

  <section class="row">
    @if(flash.get("msg")){
      @flash.get("msg")
    }
    @form(action = routes.HomeController.indexAction, 'id -> "login-form") {
      @inputText(
        loginForm("username"),
        '_showConstraints -> false,
        '_label -> "Username"
      )
      @inputPassword(
        loginForm("password"),
        '_showConstraints -> false,
        '_label -> "Password"
      )

      <input type="submit" name="submit" value="submit">
    }
  </section>


  <a href="@routes.HomeController.home">home</a>
  <a href="@routes.HomeController.about">about</a>
  <a href="@routes.HomeController.faq">faq</a>
  <a href="@routes.HomeController.store">store</a>

  <div id="modal" class="reveal" data-reveal data-close-on-click='true'>
    <h2 id="modalTitle">@Messages("homecontroller.index.modal.title")</h2>
    <p>@Messages("homecontroller.index.modal.messages")</p>
    <button class="close-button" data-close aria-label="Close reveal" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <script src="@routes.WebJarAssets.at(wja.locate("jquery.min.js"))"></script>
  <script src="@routes.WebJarAssets.at(wja.locate("foundation.core.js"))"></script>
  <script src="@routes.WebJarAssets.at(wja.locate("foundation.util.keyboard.js"))"></script>
  <script src="@routes.WebJarAssets.at(wja.locate("foundation.util.box.js"))"></script>
  <script src="@routes.WebJarAssets.at(wja.locate("foundation.util.triggers.js"))"></script>
  <script src="@routes.WebJarAssets.at(wja.locate("foundation.util.mediaQuery.js"))"></script>
  <script src="@routes.WebJarAssets.at(wja.locate("foundation.util.motion.js"))"></script>
  <script src="@routes.WebJarAssets.at(wja.locate("foundation.reveal.js"))"></script>
  <script src="@routes.Assets.versioned("scripts/main.js")"></script>
  <script src="@routes.Assets.versioned("scripts/main2.js")"></script>
}
