@()(implicit wja: WebJarAssets)
@main("Mixins") {

    <my-tag></my-tag>
    <my-second-tag></my-second-tag>
    <script src="@routes.WebJarAssets.at(wja.locate("riot.min.js"))"></script>
    <script src="@routes.Assets.versioned("comps/basics/mixins/my-tag.js")"></script>
    <script src="@routes.Assets.versioned("comps/basics/mixins/my-second-tag.js")"></script>

    <script type="text/javascript">

            riot.mixin('MessageMixin', {
                init: function() {
                    console.log('Mixin!')
                },

                getMessage: function() {
                    return 'Hello world'
                }
            })

            riot.mount('*')

    </script>
}