@()(implicit wja: WebJarAssets)
@main("Todo App") {
    <todo-app></todo-app>
    <script src="@routes.WebJarAssets.at(wja.locate("riot.min.js"))"></script>
    <script src="@routes.Assets.versioned("comps/basics/todo-app.js")"></script>
    <script>
        riot.mount("todo-app", {
            title: "My todo app",
            items: [
                { title: 'Avoid excessive caffeine', done: true },
                { title: 'Hidden item', hidden: true,  done: false },
                { title: 'Be less provocative', done: true },
                { title: 'Be nice to people', done: false}
            ]
        })
    </script>
}