@import helper._
@(userForm: Form[User])(implicit header: RequestHeader, messages: Messages, pm: PageMeta, wja: WebJarAssets, session: Session)
@page() {
  <h1>Registration</h1>
  <div class="row">
    <div class="medium-6 medium-offset-3 columns">
      @form(action = routes.AuthController.userSubmission()) {
        <input type="hidden" name="action" value="dologin">
        @inputText(
          userForm("firstName"),
          '_showConstraints -> false,
          '_label -> "First Name"
        )
        @inputText(
          userForm("lastName"),
          '_showConstraints -> false,
          '_label -> "Last Name"
        )
        @inputText(
          userForm("userName"),
          '_showConstraints -> false,
          '_label -> "Username"
        )
        @inputPassword(
          userForm("password"),
          '_showConstraints -> false,
          '_label -> "Password"
        )
        <button type="submit" class="button medium-12 columns">Add</button>
      }
    </div>
  </div>
}