@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@
@(message: String)(implicit wja: WebJarAssets)

@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main("Welcome to Play") {
    <html>
        <head>
            <meta charset="UTF-8">
            <title>Document</title>
        </head>
        <body>
            <todo></todo>
            <script src="@routes.Assets.versioned("comps/todo.js")" type="riot/tag"></script>
            <script src="@routes.WebJarAssets.at(wja.locate("riot.min.js"))"></script>
            <script>
                riot.mount("*")
            </script>
        </body>
    </html>

}
