@import helper._

@(contactForm: Form[Contact])(implicit header: RequestHeader, messages: Messages, pm: PageMeta, wja: WebJarAssets)
@helper.base {
  <link href="@routes.Assets.versioned("styles/global.css")" rel="stylesheet">
  <link href="@routes.Assets.versioned("styles/main.css")" rel="stylesheet">
  <link href="@routes.Assets.versioned("styles/main2.css")" rel="stylesheet">
} {
  <section class="row">
    <div class="columns small-12" id="content">
      <h1>Phonebook</h1>
      <h3 class="subheader">Add Contact</h3>

      @form(action = routes.PhoneBookController.addPost()) {
        @inputText(
          contactForm("first_name"),
          '_showConstraints -> false,
          '_label -> "First Name"
        )

        @inputText(
          contactForm("last_name"),
          '_showConstraints -> false,
          '_label -> "Last Name"
        )

        @inputText(
          contactForm("phone"),
          '_showConstraints -> false,
          '_label -> "Phone Number"
        )

        <button type="submit" class="button">Add</button>
       }

    </div>
  </section>

  <script src="@routes.WebJarAssets.at(wja.locate("jquery.min.js"))"></script>
  <script src="@routes.WebJarAssets.at(wja.locate("foundation.core.js"))"></script>
  <script src="@routes.WebJarAssets.at(wja.locate("foundation.util.keyboard.js"))"></script>
  <script src="@routes.WebJarAssets.at(wja.locate("foundation.util.box.js"))"></script>
  <script src="@routes.WebJarAssets.at(wja.locate("foundation.util.triggers.js"))"></script>
  <script src="@routes.WebJarAssets.at(wja.locate("foundation.util.mediaQuery.js"))"></script>
  <script src="@routes.WebJarAssets.at(wja.locate("foundation.util.motion.js"))"></script>
  <script src="@routes.WebJarAssets.at(wja.locate("foundation.reveal.js"))"></script>
  <script src="@routes.Assets.versioned("scripts/main.js")"></script>
  <script src="@routes.Assets.versioned("scripts/main2.js")"></script>
}
