@import models.Contact
@(contactForm: Form[Contact], userId: Int = 0)(implicit header: RequestHeader, messages: Messages, pm: PageMeta, wja: WebJarAssets, session: Session, flash: Flash)
@import helper._
@helper.base {
  <link href="@routes.Assets.versioned("styles/global.css")" rel="stylesheet">
  <link href="@routes.Assets.versioned("styles/main.css")" rel="stylesheet">
  <link href="@routes.Assets.versioned("styles/main2.css")" rel="stylesheet">
} {
  <section class="row">
    <div class="columns small-12" id="content">
      <h1>Phonebook</h1>

      @if(contactForm("id").value) {
        <h3 class="subheader">Update Contact</h3>
      } else {
        <h3 class="subheader">Add Contact</h3>
      }

      <div class="row">
        <div class="medium-6 medium-offset-3 columns">
        @form(action = routes.PhoneBookController.formPost()) {

          @* Adds ID if operation is update *@
          @if(contactForm("id").value) {
            <input type="hidden" name="id" value="@contactForm("id").value">
          }

          <input type="hidden" name="user_id" value="@userId">

          @inputText(
            contactForm("first_name"),
            '_showConstraints -> false,
            '_label -> "First Name"
          )

          @inputText(
            contactForm("last_name"),
            '_showConstraints -> false,
            '_label -> "Last Name"
          )

          @inputText(
            contactForm("phone"),
            '_showConstraints -> false,
            '_label -> "Phone Number"
          )

          @if(contactForm("id").value) {
            <button type="submit" class="button medium-12 columns">Update</button>
          } else {
            <button type="submit" class="button medium-12 columns">Add</button>
          }
        }
        </div>
      </div>

    </div>
  </section>

  <script src="@routes.WebJarAssets.at(wja.locate("jquery.min.js"))"></script>
  <script src="@routes.WebJarAssets.at(wja.locate("foundation.core.js"))"></script>
  <script src="@routes.WebJarAssets.at(wja.locate("foundation.util.keyboard.js"))"></script>
  <script src="@routes.WebJarAssets.at(wja.locate("foundation.util.box.js"))"></script>
  <script src="@routes.WebJarAssets.at(wja.locate("foundation.util.triggers.js"))"></script>
  <script src="@routes.WebJarAssets.at(wja.locate("foundation.util.mediaQuery.js"))"></script>
  <script src="@routes.WebJarAssets.at(wja.locate("foundation.util.motion.js"))"></script>
  <script src="@routes.WebJarAssets.at(wja.locate("foundation.reveal.js"))"></script>
  <script src="@routes.Assets.versioned("scripts/main.js")"></script>
  <script src="@routes.Assets.versioned("scripts/main2.js")"></script>
}
