@import forms.ContactsForm
@import helper._
@(contactForm: Form[Contact] = ContactsForm.contact)(implicit header: RequestHeader, messages: Messages, pm: PageMeta, wja: WebJarAssets, session: Session, flash: Flash)
@page() {
  <section class="row">
    <div class="columns small-12" id="content">
      <h1>Phonebook</h1>
      @if(contactForm("id").value) {
        <h3 class="subheader">Update Contact</h3>
      } else {
        <h3 class="subheader">Add Contact</h3>
      }
      <div class="row">
        <div class="medium-6 medium-offset-3 columns">
          @form(action = routes.PhoneBookController.formPost()) {
            @if(flash.get("message")) {
              @common.callout("success", Messages("callouts.title.success"), flash.get("message").get)
            }
            @* Adds ID if operation is update *@
            @if(contactForm("id").value) {
              <input type="hidden" name="id" value="@contactForm("id").value">
            }
            <input type="hidden" name="userId" value="@session.get("connected")">
            @inputText(
              contactForm("firstName"),
              '_showConstraints -> false,
              '_label -> "First Name"
            )
            @inputText(
              contactForm("lastName"),
              '_showConstraints -> false,
              '_label -> "Last Name"
            )
            @inputText(
              contactForm("phone"),
              '_showConstraints -> false,
              '_label -> "Phone Number"
            )
            @if(contactForm("id").value) {
              <button type="submit" class="button medium-12 columns">Update</button>
            } else {
              <button type="submit" class="button medium-12 columns">Add</button>
            }
          }
        </div>
      </div>
    </div>
  </section>
}